.profile__image{
    border-radius: 100%;
    width: 120px;
    height: 120px;
    object-fit: contain;
}
@media screen and (max-width: 900px) {
    .profile__image{
        width: 80px;
        height: 80px;
        margin-bottom: 18px;
    }
}
@media screen and (max-width: 550px) {
    .profile__image{
        width: 120px;
        height: 120px;
        margin-bottom: 26px;
    }
}