.popup__container{
    position: fixed;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 44%;
    box-shadow: 9 0 10px rgba(0,0,0,.1);
    border-radius: 10px;
    transform: translate(-50%,-50%);
    background-color: #fff;
    width: 33vw;
    color:#000;
}
@media screen  and (max-width: 750px){
    .popup__container{
        width: 90%;
    }
}