.popup__close-button{
    background: url(../../../images/close_button.svg) no-repeat center;
    background-size: 80% 80%;
    position: absolute;
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0) ;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
}
.popup__close-button:hover{
    opacity: 0.6;
    cursor: pointer;
}
@media screen  and (max-width: 750px){
    .popup__close-button{
        width: 20px;
        height: 20px;
        right: 1px;
        top: -38px;
    }
}