.page{
    margin: 0;
    padding: 0;
    background-color: #333;
    color:#fff;
    display: inline-block;
}
.menu{
   display: flex;
   margin: 0;
   align-items: center;
   height: 60px;
   background-color: #334;
   min-width: 300px;
}   
.form-caller{
    margin: 0;
    font-family: 'Montserrat',sans-serif;
    font-size: 24px;
    font-weight: 400;
    transition: transform linear 0.05s;
}
.form-caller:hover{
    transform: scale(1.1);
    cursor: grab;
}
.header{  
    margin: 0 0 20vh 0;
    padding: 4% 0 0 4%;
    min-width: 300px;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}
.header__text{
    font-family: 'Montserrat',sans-serif;
    font-size: 160px;
    line-height: 140px;
    min-height: 50vh;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding-bottom: 4%;
}

.personal-info{
    display: flex;
    padding: 4vh 4vw 4vh 4vw;
    margin: 2%;
    justify-content: center;
    align-items: center;
}
.personal-info__text{
    text-align:center;
    font-size: 42px;
    font-family: 'Montserrat',sans-serif;
    width: 64vw;
    margin: 0;
    padding: 0;
}
.personal-info__picture{
    margin-left: 2%;
}
.personal-info__image{
    object-fit:cover;
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
}

.footer{
    display: flex;
    font-family: 'Montserrat',sans-serif;
    flex-direction: column;
    padding: 4px 0 0 8px;
}
.footer__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}
.footer__text{
    font-size: 24px;
    padding: 0;
    margin: 0;
}
.footer__links{
    padding: 10px;
    display: inline;
}
.footer__link{
     text-decoration: none;
}
.footer__contacts{
    margin: 0 8px 0 0;
}

.icon{
    width: 4%;
    margin: 4px;
}
.interests{
    font-family: 'Montserrat',sans-serif;
    display: flex;
    flex-direction: column;
    margin: 10vh 0 0 2vw;
    font-size: 36px;
    padding: 2%;
}
.interests__header{
    font-size: 48px;
}
.interests__list{
    display: flex;
    flex-wrap:wrap;
    padding: 0;
    justify-content: space-between;
}
.interests__image{
    list-style: none;
    transition: transform ease-in-out 0.3s;
}
.interests__image:hover{
    transform: scale(1.2);
}
.big-icon{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}

.gallery{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 4% 2% 2% 2%;
}
.big-picture{
    margin: 0 2% 2% 0;
}

.big-picture__image{
    object-fit: cover;
    height: 30vh;
}
.popup-wrap{
    position: fixed;
    display: flex;
    visibility: hidden;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0,0,0,0.6);
    transition: all ease 0.5s;
}
.popup-wrap_visible{
    visibility:visible;
    transition: all ease 0.5s;
}
.popup{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    top: 50%;
    left: 50%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%) scale(0.5);
    transition: all ease 0.5s;
}

#popup-reminder{
    top:40%;
}

.popup__container{
    width: 40vw;
    height: 20vh;
    min-width: 120px;
    background-color: #fff;
    color: #000;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.popup__opened{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    transition: all ease 0.5s;
}
.popup__text{
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 28px;
 }
.popup__button{
    position: absolute;
    opacity: 0.8;
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0);
    background-size: contain;
    transition: transform ease-in-out 0.2s;
}
.popup__button:hover{
    transform: scale(1.2);
    cursor: grab;
}
 .popup__button_close{
    width: 32px;
    height: 32px;
    right: -32px;
    top: -40px;
    background-image: url("../images/close.svg");
 }
 .popup__button_before{
    width: 8vw;
    height: 8vw;
    top: 40%;
    right: 100%;  
    background-image: url("../images/before.svg");
 }
 .popup__button_next{
    width: 8vw;
    height: 8vw;
    top: 40%;
    left:100%;
    background-image: url("../images/next.svg");
 }
 .popup__image{
    max-height: 80vh;
    max-width: 80vw;
 }

 .popup__form{
    width: 40vw;
    min-width: 120px;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
    font-size: 24px;
    background-color: #fff;
    color: #000;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
 }
.popup__form::-webkit-scrollbar{
    display: none;
}
 .popup__form__text{
    font-weight: 600;
 }
 .popup__form__fieldset{
    border: none;
    width: 80%;
 }
 .popup__form__input{
    border: none;
    border-radius: 0;
    outline: none;
    width: 100%;
    margin-bottom: 4%;
    transition: all 0.3s;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
 }
 .popup__form__input:focus{
    border-bottom: 1px solid #000;
 }
 .popup__form__input:invalid{
    border-bottom: 1px solid #f00;
 }
 .popup__form__textarea{
    width: 100%;
    height: 20vh;
    resize: none;
    transition: all 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.2);
 }
 .popup__form__textarea:hover{
    border: 1px solid #000;
 }
 .popup__form__submit-button{
    margin-top: 2%;
    background-color: #000;
    align-self: center;
    height: 8vh;
    min-height: 24px;
    width: 60%;
    font-family: 'Montserrat',sans-serif;
    font-size: 20px;
    color: #fff;
    border: none;
    transition: all linear 0.2s;
 }
 .popup__form__submit-button_disabled{
    opacity: 0.5;
    cursor: none;
    pointer-events: none;
 }
 @media all and (max-height: 450px){
    .header__text{
        font-size: 100px;
        line-height: 92px;
    }
   
}
@media all and (max-width: 1240px){
    .header__text{
        font-size: 100px;
        line-height: 92px;
    }
    .big-picture__image{
        max-width: 60vw;
        max-height: 50vh;
        height: auto; 
    }
}
@media all and (max-width: 780px){
    .popup__text{
        font-size: 20px;
    }
    .header__text{
        font-size: 60px;
        line-height: 52px;
    }
    .personal-info{
        flex-direction: column-reverse;
    }
    .personal-info__text{
        width: 90vw;
    }
    .big-icon{
        width: 64vw;
        height: 64vw;
    }
    .icon{
        width: 8vw;
        height: 8vw;
    }
    .personal-info__picture{
        margin: 0 0 4vh 0;
    }
    .personal-info__image{
        width: 80vw;
        height: 80vw;
    }
    .interests__list{
        justify-content: center;
    }
    .popup__form__submit-button{
        width: 100%;
    }
}
@media all and (max-width: 600px){
    .popup__form__submit-button{
        height: 6vh;
    }
}
@media all and (max-height: 550px){
    .popup__text{
        font-size: 18px;
    }
}

@media all and (max-width: 475px){
    .header__text{
        min-height: 20vh;
        font-size: 40px;
        line-height: 36px;
    }
    .popup__form__submit-button{
        font-size: 12px;
    }
    .footer__text{
        font-size: 16px;
    }
    .popup__text{
        font-size: 12px;
    }
}
@media all and (max-height: 300px){
    .popup__button_close{
     visibility: hidden;
    }
    .popup__text{
        font-size: 12px;
    }
    .popup__text{
        margin: 0;
    }
 }
 @media all and (max-height: 120px){
    .popup__text{
        font-size: 8px;
    }
 }