.page{
    margin: 0;
    padding: 0;
    background-color: #333;
    color:#fff;
    display: inline-block;
}

.header{  
    margin: 0 0 20vh 0;
    padding: 4% 0 0 4%;
    min-width: 300px;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}
.header__text{
    font-family: 'Montserrat',sans-serif;
    font-size: 160px;
    line-height: 140px;
    min-height: 50vh;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding-bottom: 4%;
}

.personal-info{
    display: flex;
    padding: 4vh 4vw 4vh 4vw;
    margin: 2%;
    justify-content: center;
    align-items: center;
}
.personal-info__text{
    text-align:center;
    font-size: 42px;
    font-family: 'Montserrat',sans-serif;
    width: 64vw;
    margin: 0;
    padding: 0;
}
.personal-info__image{
    object-fit:cover;
    margin-left: 2%;
    width: 24vw;
    height: 24vw;
    border-radius: 50%;
}

.footer{
    display: flex;
    font-family: 'Montserrat',sans-serif;
    flex-direction: column;
    padding: 4px 0 0 8px;
}
.footer__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}
.footer__text{
    font-size: 24px;
    padding: 0;
    margin: 0;
}
.footer__links{
    padding: 10px;
    display: inline;
}
.footer__link{
     text-decoration: none;
}
.icon{
    width: 4%;
    margin: 4px;
}

.contacts{
    margin: 0 8px 0 0;
}

.interests{
    font-family: 'Montserrat',sans-serif;
    display: flex;
    flex-direction: column;
    margin: 10vh 0 0 2vw;
    font-size: 36px;
    padding: 2%;
}
.interests__header{
    font-size: 48px;
}
.interests__list{
    display: flex;
    flex-wrap:wrap;
    padding: 0;
    justify-content: space-between;
}
.interests__image{
    list-style: none;
}
.big-icon{
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}

.image-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin: 4% 2% 2% 2%;
}
.big-image{
    margin: 0 2% 4% 0;
    object-fit: cover;
    height: 60vh;
}
.big-image_margin_none{
    margin: 0;
}

@media all and (max-height: 450px){
    .header__text{
        font-size: 100px;
        line-height: 92px;
    }
}
@media all and (max-width: 1240px){
    .header__text{
        font-size: 100px;
        line-height: 92px;
    }
    .big-image{
        margin-right: 0;
        height: auto;
        max-width: 80%;
    }
    .icon{
        width: 8vw;
        height: 8vw;
    }
}
@media all and (max-width: 780px){
    .header__text{
        font-size: 60px;
        line-height: 52px;
    }
    .personal-info{
        flex-direction: column-reverse;
    }
    .personal-info__text{
        width: 90vw;
    }
    .big-icon{
        width: 64vw;
        height: 64vw;
    }
    .personal-info__image{
        margin: 0 0 4vh 0;
        width: 80vw;
        height: 80vw;
    }
    .interests__list{
        justify-content: center;
    }
}
@media all and (max-width: 475px){
    .header__text{
        min-height: 20vh;
        font-size: 40px;
        line-height: 36px;
    }
    .footer__text{
        font-size: 16px;
    }
}
